<article class="record">
  <h1 class="title"><%= @record['title'] %>
    <span class="artist"><%= @record['artists'][0]['name'] %></span>
  </h1>

  <% @record['tracklist'].each.with_index(1) do |track, i| %>
    <article class="track">
      <p class="title"><span class="track-number"><%= i %>.</span>&nbsp;<%= track['title'] %><span class="duration"><%= track['duration'] %></span></p>

      <p class="position">side - <%= track['position'] %></p>
    </article>
  <% end %>
</article>
